
.style{
    border-bottom: 1px solid grey;
    display: flex;
justify-content: center;
}
.style2 {
    padding: 5px 10px;
    background-color: rgba(140,72,72,.2);
    border-radius: 10px;
    max-width: 400px;
    margin-left: auto;
    font-style: italic;
    
}